@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
/* line 16, ../scss/style.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #999999;
  background-color: white;
}

/* line 27, ../scss/style.scss */
h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  color: #5d5d5d;
  line-height: 1.1;
  text-rendering: optimizelegibility;
}

/* line 34, ../scss/style.scss */
h1 {
  font-size: 4em;
  font-weight: 100;
}

/* line 39, ../scss/style.scss */
h2 {
  font-size: 2em;
  font-weight: 300;
}

/* line 44, ../scss/style.scss */
h3 {
  font-size: 1.5em;
  font-weight: normal;
}

/* line 50, ../scss/style.scss */
.form-control {
  background-color: whitesmoke;
  border: 0px none;
}

/* line 55, ../scss/style.scss */
.btn-default {
  background-color: #2a2a2a;
  color: white;
}
/* line 58, ../scss/style.scss */
.btn-default:hover, .btn-default:focus {
  background-color: #999999;
  color: white;
}

/* line 65, ../scss/style.scss */
.btn-primary {
  background-color: #84ccd3;
  border: 0px none;
}
/* line 68, ../scss/style.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #5ebcc6;
}

/* line 74, ../scss/style.scss */
ul > li > a {
  color: #84ccd3;
}
/* line 76, ../scss/style.scss */
ul > li > a:hover, ul > li > a:focus {
  color: #5ebcc6;
  text-decoration: none;
}
