// Color variables
$white: #ffffff;
$lightGray: #f5f5f5;
$gray: #999999;
$darkGray: #5d5d5d;
$black: #2a2a2a;
$turquoise: #84ccd3;

// Typography - Font stacks
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$webFontFamily: 'Lato', sans-serif;