@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

// Color variables
$white: #ffffff;
$lightGray: #f5f5f5;
$gray: #999999;
$darkGray: #5d5d5d;
$black: #2a2a2a;
$turquoise: #84ccd3;

// Typography - Font stacks
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$webFontFamily: 'Lato', sans-serif;

// Mixins
@mixin hover-darken($color, $percentage) {
	&:hover,
	&:focus {
		color: darken($color, $percentage);
		text-decoration: none;
	}
}

// Typography - Body
body {
	font-family: $baseFontFamily;
	font-size: 15px;
	line-height: 1.5;
	color: $gray;
	background-color: $white;
}

// Typography - Headings
h1,
h2,
h3 {
	font-family: $webFontFamily;
	color: $darkGray;
	line-height: 1.1;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 4em; // 60px / body font-size = 4
	font-weight: 100;
}

h2 {
	font-size: 2em; // 30px / body font-size = 2
	font-weight: 300;
}

h3 {
	font-size: 1.5em;
	font-weight: normal;
}

// Forms
.form-control {
	background-color: $lightGray;
	border: 0px none;
}

.btn-default {
	background-color: $black;
	color: $white;
	&:hover, &:focus {
		background-color: $gray;
		color: $white;
	}
}

// Buttons
.btn-primary {
	background-color: $turquoise;
	border: 0px none;
	&:hover, &:focus {
		background-color: darken($turquoise, 10%);
		color: $white;
	}
}

// Lists
ul>li>a {
	color: $turquoise;
	@include hover-darken($turquoise, 10%);
}

// Pattern: Contentbox
.contentbox {
    position: relative;
    background: transparent;
    
    h2 {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .lead {
        color: $turquoise;
    }
    
    i {
        color: $turquoise;  
    }
    
    a {
    	color: $turquoise;
    	@include hover-darken($turquoise, 10%);
	}
	
	.more {
    	display: inline-block;
    	margin-top: 25px;
	}
}

// Pattern: Contentbox-services
.contentbox-services {
	@extend .contentbox;
	text-align: center;
	border-bottom:  6px solid lighten($turquoise, 25%);
	p {
		margin-bottom:  35px;
	}
}

.vertical-middle {
    position: absolute;
    left: 50%;
    top: .5em;
}

@media (max-width: 768px) {

	.vertical-middle {
		position: static;
	}

}

// Pattern: Message
.message {
    background-color: $turquoise;
    color: $white;
    padding-bottom: 120px;
    padding-top: 120px;
    
    h2 {
        color: $white;
    }
}

.image-break {
    background: #fff url(../images/paper-texture.jpg) repeat-x;
    height: 45px;
}