<section>
	<div class="container">
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li class="active">About</li>
		</ol>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="contentbox">
					<h2>About Us</h2>
					<p class="lead">Paragraph.lead - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
					<p>Paragraph. Lorem ipsum dolor sit amet,
						<strong>consectetur</strong>adipisicing elit. Natus quis doloremque asperiores sunt non provident nostrum. Maiores ipsam ea non perspiciatis facilis tempore atque harum esse excepturi temporibus vitae dolorem.</p>
					<p>
						<a href="#" class="more">More</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="skills">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>Our Skills</h2>
				<div class="progress-bar bar-one">
					<div class="progress">
						<span class="field">Concepts</span>
						<span class="field-value fade-in">60%</span>
						<div style="width: 60%;" class="bar"></div>
					</div>
				</div>
				<div class="progress-bar bar-two">
					<div class="progress">
						<span class="field">Design</span>
						<span class="field-value fade-in">75%</span>
						<div style="width: 75%;" class="bar"></div>
					</div>
				</div>
				<div class="progress-bar bar-three">
					<div class="progress">
						<span class="field">Awesome!</span>
						<span class="field-value fade-in">100%</span>
						<div style="width: 100%;" class="bar"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="contentbox">
					<h2>Heading 2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="contentbox">
					<h2>Heading 2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="message">
	<div class="container">
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis debitis magnam sit minus tempora maiores fugiat quas eos aperiam enim iure pariatur placeat amet dignissimos est nesciunt dolores laborum nostrum.</h2>
	</div>
</section>
<div class="image-break"></div>

<section class="team">
	<div class="container">
		<div class="row">
			<div class="contentbox">
				<div class="col-lg-12">
					<h2>Our Team</h2>
					<p class="lead">The Superstars That Make Things Happen</p>
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="images/team1.jpg" alt="Jeff Corey" class="img-responsive">
					<p class="title-box">Jeff Corey | <em>CEO</em></p>
					<ul class="list-inline text-center">
						<li>
							<a class="twitter" href="http://www.twitter.com/themearmada">
								<i class="fa fa-twitter fa-lg"></i>
							</a>
						</li>
						<li>
							<a class="facebook" href="http://www.facebook.com">
								<i class="fa fa-facebook fa-lg"></i>
							</a>
						</li>
						<li>
							<a class="instagram" href="http://www.instagram.com">
								<i class="fa fa-instagram fa-lg"></i>
							</a>
						</li>
						<li>
							<a class="linkedin" href="http://www.linkedin.com" target="_blank">
								<i class="fa fa-linkedin fa-lg"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="images/team2.jpg" alt="John Franklin" class="img-responsive">
					<p class="title-box">John Franklin | <em>Designer</em></p>
					<ul class="list-inline text-center">
						<li>
							<a class="twitter" href="http://www.twitter.com/themearmada">
								<i class="fa fa-twitter fa-lg"></i>
							</a>
						</li>
						<li>
							<a class="linkedin" href="http://www.linkedin.com" target="_blank">
								<i class="fa fa-linkedin fa-lg"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="images/team3.jpg" alt="Helen Thompson" class="img-responsive">
					<p class="title-box">Helen Thompson | <em>Director</em></p>
					<ul class="list-inline text-center">
						<li>
							<a class="twitter" href="http://www.twitter.com/themearmada">
								<i class="fa fa-twitter fa-lg"></i>
							</a>
						</li>
						<li>
							<a class="facebook" href="http://www.facebook.com">
								<i class="fa fa-facebook fa-lg"></i>
							</a>
						</li>
						<li>
							<a class="linkedin" href="http://www.linkedin.com" target="_blank">
								<i class="fa fa-linkedin fa-lg"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="images/team4.jpg" alt="Alan Smith" class="img-responsive">
					<p class="title-box">Alan Smith | <em>Miracle Man</em></p>
					<ul class="list-inline text-center">
						<li>
							<a class="twitter" href="http://www.twitter.com/themearmada">
								<i class="fa fa-twitter fa-lg"></i>
							</a>
						</li>
						<li>
							<a class="facebook" href="http://www.facebook.com">
								<i class="fa fa-facebook fa-lg"></i>
							</a>
						</li>
						<li>
							<a class="instagram" href="http://www.instagram.com">
								<i class="fa fa-instagram fa-lg"></i>
							</a>
						</li>
						<li>
							<a class="linkedin" href="http://www.linkedin.com" target="_blank">
								<i class="fa fa-linkedin fa-lg"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>