<section>
	<div class="container">
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li class="active">Blog</li>
		</ol>
	</div>
</section>

<section class="blog">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				
				<div ng-controller="wordpressController">
					<article class="blog-article" ng-repeat="post in posts">
						<div class="col-sm-2">
							<div class="blog-article-date">
								<h2>{{toJsDate(post.modified)| date:'d' }}</h2>
								<h3>{{toJsDate(post.modified)| date:'MMM' }}</h3>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="contentbox">
								<img src="{{post.attachments[0].url}}" alt="{{post.title}}" class="img-responsive">
								<h2>{{post.title}}</h2>
								<p>{{post.content}}</p>
								<a href="#" class="more">More</a>
							</div>
						</div>
					</article>
				</div>
			
			</div>
						
			<div class="col-sm-3">
				<aside class="sidebar">
					<h2>Side Bar</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<hr>
				</aside>
				<aside class="sidebar">
					<h2>Instagram</h2>
					<ul class="list-unstyled clearfix media-grid">
						<li class="col-xs-4">
							<img src="http://distilleryimage11.s3.amazonaws.com/a64ff38a022711e3b55422000a9f1377_5.jpg" alt="Instagram" class="img-responsive">
						</li>
						<li class="col-xs-4">
							<img src="http://distilleryimage4.s3.amazonaws.com/3d501cca014b11e389a922000aeb0c69_5.jpg" alt="Instagram" class="img-responsive">
						</li>
						<li class="col-xs-4">
							<img src="http://distilleryimage9.s3.amazonaws.com/bfa27c96fe9811e28b6522000a1f97ac_5.jpg" alt="Instagram" class="img-responsive">
						</li>
						<li class="col-xs-4">
							<img src="http://distilleryimage11.s3.amazonaws.com/a64ff38a022711e3b55422000a9f1377_5.jpg" alt="Instagram" class="img-responsive">
						</li>
						<li class="col-xs-4">
							<img src="http://distilleryimage9.s3.amazonaws.com/1ce78e44fd4211e2ab2122000a9f4dc5_5.jpg" alt="Instagram" class="img-responsive">
						</li>
						<li class="col-xs-4">
							<img src="http://distilleryimage6.s3.amazonaws.com/197269e4f6c811e2829522000a1fa769_5.jpg" alt="Instagram" class="img-responsive">
						</li>
					</ul>
					<hr>
				</aside>
				<aside class="sidebar">
					<h2>Links</h2>
					<ul class="list-unstyled blog-links">
						<li>
							<a href="#">
								<i class="fa fa-chevron-right"></i>Theme Armada</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-chevron-right"></i>Twitter Link</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-chevron-right"></i>Insert Link Three</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-chevron-right"></i>Insert Link Four</a>
						</li>
					</ul>
					<hr>
				</aside>
				<aside class="sidebar boxed">
					<h2>Boxed</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc.</p>
				</aside>
			</div>
		</div>
	</div>
</section>