<section>
	<div class="container">
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li class="active">Contact</li>
		</ol>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="contentbox">
					<h2>Get In Touch</h2>
					<p class="lead">We Would Love To Hear From You</p>
					<p>Paragraph. Lorem ipsum dolor sit amet,
						<strong>consectetur</strong>adipisicing elit. Natus quis doloremque asperiores sunt non provident nostrum. Maiores ipsam ea non perspiciatis facilis tempore atque harum esse excepturi temporibus vitae dolorem.</p>
					<p>
						<a href="#" class="more">More</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="form">
	<div class="container">
	  <div class="row">
		<form action="#">
		  <div class="col-sm-6">
			<div class="form-group">
			  <input type="text" placeholder="Your name" class="form-control" tabindex="1" required>
			</div>
			<div class="form-group">
			  <input type="email" placeholder="Your email" class="form-control" tabindex="2" required>
			</div>
			<div class="form-group">
			  <input type="text" placeholder="Subject" class="form-control" tabindex="3" required>
			</div>
		  </div>
		  <div class="col-sm-6">
			<div class="form-group">
			  <textarea name="" id="" cols="30" rows="10" placeholder="The message you want to send to me" class="form-control" tabindex="5" required></textarea>
			</div>
			<div class="form-group">
			  <button type="submit" class="btn btn-default pull-right" tabindex="6">Submit</button>
			</div>
		  </div>
		</form>
	  </div>
	</div>
</section>

<section class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6306.2208324352705!2d-122.40511602809447!3d37.78745204596947!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1393999444004" frameborder="0"></iframe>
</section>