<section>
	<div class="container">
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li class="active">Services</li>
		</ol>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="contentbox">
					<h2>Our Services</h2>
					<p class="lead">Learn About What We Do</p>
					<p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quis doloremque asperiores sunt non provident nostrum. Maiores ipsam ea non perspiciatis facilis tempore atque harum esse excepturi temporibus vitae dolorem.</p>
					<p>
						<a href="#" class="more">More</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="contentbox">
          <div class="col-sm-3">
            <i class="fa fa-thumbs-o-up fa-4x vertical-middle"></i>
          </div>
          <div class="col-sm-9">
            <h2>Built w/ Bootstrap</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="contentbox">
            <div class="col-sm-3">
              <i class="fa fa-thumbs-o-up fa-4x vertical-middle"></i>
            </div>
            <div class="col-sm-9">
              <h2>Over 249 Icons</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="contentbox">
            <div class="col-sm-3">
              <i class="fa fa-thumbs-o-up fa-4x vertical-middle"></i>
            </div>
            <div class="col-sm-9">
              <h2>Mobile Responsive</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="contentbox">
            <div class="col-sm-3">
              <i class="fa fa-thumbs-o-up fa-4x vertical-middle"></i>
            </div>
            <div class="col-sm-9">
              <h2>Easy To Customize</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="message">
	<div class="container">
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis debitis magnam sit minus tempora maiores fugiat quas eos aperiam enim iure pariatur placeat amet dignissimos est nesciunt dolores laborum nostrum.</h2>
	</div>
</section>
<div class="image-break"></div>

<section class="plans">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2 class="title-box text-center">Basic</h2>
				<ul class="list-unstyled text-center pricing-table">
					<li class="price">$99<span>/month</span></li>
					<li class="info">2 row section for you package information. You can include all details or icons</li>
					<li>Up To 25 Projects</li>
					<li>10GB Storage</li>
					<li>Other info</li>
					<li>
						<i class="fa fa-ellipsis-h fa-lg"></i>
					</li>
					<li>
						<i class="fa fa-ellipsis-h fa-lg"></i>
					</li>
					<li>
						<i class="fa fa-check fa-lg"></i>
					</li>
					<li>
						<i class="fa fa-check fa-lg"></i>
					</li>
					<li>
						<a href="#" class="btn-main">SIGN UP NOW!</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h2 class="title-box active text-center ">Popular</h2>
				<ul class="list-unstyled text-center pricing-table">
					<li class="price">$129<span>/month</span></li>
					<li class="info">2 row section for you package information. You can include all details or icons</li>
					<li>Up To 25 Projects</li>
					<li>10GB Storage</li>
					<li>Other info</li>
					<li>
						<i class="fa fa-ellipsis-h fa-lg"></i>
					</li>
					<li>
						<i class="fa fa-ellipsis-h fa-lg"></i>
					</li>
					<li>
						<i class="fa fa-check fa-lg"></i>
					</li>
					<li>
						<i class="fa fa-check fa-lg"></i>
					</li>
					<li>
						<a href="#" class="btn-main">SIGN UP NOW!</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h2 class="title-box headline text-center">Advanced</h2>
				<ul class="list-unstyled text-center pricing-table">
					<li class="price">$299<span>/month</span></li>
					<li class="info">2 row section for you package information. You can include all details or icons</li>
					<li>Up To 25 Projects</li>
					<li>10GB Storage</li>
					<li>Other info</li>
					<li>
						<i class="fa fa-ellipsis-h fa-lg"></i>
					</li>
					<li>
						<i class="fa fa-ellipsis-h fa-lg"></i>
					</li>
					<li>
						<i class="fa fa-check fa-lg"></i>
					</li>
					<li>
						<i class="fa fa-check fa-lg"></i>
					</li>
					<li>
						<a href="#" class="btn-main">SIGN UP NOW!</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>